<div class="card integration-info text-white bg-info mb-3">
  <div class="card-body">
    <h5 class="card-title">Helpful information.</h5>
    <p class="card-text">
      Learn more about appsflyer attributes  - <a href='https://support.appsflyer.com/hc/en-us/articles/360000811585-GDPR-and-CCPA-compliance-using-APIs-#gdpr-requests-api' target='_blank'>Appsflyer CCPA/GDPR docs</a><br>
    </p>
  </div>
</div>
<div class="card integration-info text-white bg-danger mb-3">
  <div class="card-body">
    <h5 class="card-title">Warning.</h5>
    <p class="card-text">
      When submitting the request, you have to pass appsflyer identity value. To learn more about the identity value, please see the link above.<br>
      If you don't pass it, the request won't be send to appsflyer.
    </p>
  </div>
</div>
