<div class="card integration-info text-white bg-info mb-3">
  <div class="card-body">
    <h5 class="card-title">Helpful information.</h5>
    <p class="card-text">
      How to find Site id and API key  - <a href='https://customer.io/docs/api/' target='_blank'>Customer.io docs</a><br>
    </p>
  </div>
</div>
