<div class="card integration-info text-white bg-info mb-3">
  <div class="card-body">
    <h5 class="card-title">Helpful information.</h5>
    <p class="card-text">
      How to find Project token - <a href='https://help.mixpanel.com/hc/en-us/articles/115004490503-Project-Settings' target='_blank'>Mixpanel docs.</a><br>
      You can find Oauth token here - <a href='https://mixpanel.com/settings/account#data-privacy' target='_blank'>Mixpanel account settings</a>
    </p>
  </div>
</div>