<div class="card integration-info text-white bg-info mb-3">
  <div class="card-body">
    <h5 class="card-title">Helpful information.</h5>
    <p class="card-text">
      How to find Access token and Workspace name - <a href='https://reference.segmentapis.com/?version=latest#57a69434-76cc-43cc-a547-98c319182247' target='_blank'>Segment API docs</a><br>
    </p>
  </div>
</div>
<div class="card integration-info text-white bg-danger mb-3">
  <div class="card-body">
    <h5 class="card-title">Warning.</h5>
    <p class="card-text">
      <strong>Export</strong> request type is not supported for this Service
    </p>
  </div>
</div>
