<div class="card integration-info text-white bg-danger mb-3">
  <div class="card-body">
    <h5 class="card-title">Warning.</h5>
    <p class="card-text">
      <strong>Export</strong> request type is not supported for this Service
    </p>
  </div>
</div>
