#dataTable{
  tr.odd td:first-child,
  tr.even td:first-child {
    padding-left: 4em;
  }
}

#dataTable_length{
  label {
    margin-bottom: 0
  }
  select {
    margin-bottom: 0;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  }
}
.integration-info {
  a {
    text-decoration: none;
    &:hover {
      color: cyan;
    }
  }
}
#dataTable {
  tr {
    &:hover{
      background-color: #e3e6f0;
    }
    &.clickable:hover {
      cursor: pointer;
    }
  }
}